*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --oscuro:#003366;
    --medio:#053474;
    --suave:#0071a4;
    --claro:#6cb7ef;
    /* -------letra------- */
    --letra: 'Segoe UI';
}
/* --------encabezado-------------- */
header{
    background-color: var(--oscuro);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 3px grey;
    padding: 10px;
}
/* ------------------menu------------ */
.select{
    background-color: var(--medio);
}
.menu a:hover{
    background-color:  var(--claro);
    color: var(--oscuro);
    transition: 0.9s ease;
}
.menu a:focus{
    background-color: var(--suave);
    color: white;
    transition: 0.3s ease;
}
.menu a {
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 1.3em;
    text-decoration: none;
    font-family: var(--letra);
    font-weight: 600;
}
/* -----boton skip-------- */
.paginas{
    display: flex;
    justify-content: space-between;
    width: 90vw;
    margin-left: 5vw;
}
.paginas a{
    border: 1px solid var(--medio);
    background-color: var(--medio);
    padding: 10px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-family: var(--letra);
}
/* ------------footer----------- */
.footer{
    width: 100%;
    text-align: center;
    background-color: var(--oscuro);
    color: white;
    padding: 5px;
    font-family: var(--letra);
    margin-top: 5px;
}
/* -------autores-------- */
footer{
    font-family: var(--letra);
    background-color: white;
    width: 100%;
    font-size: 1em;
    font-weight: 600;
}